/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

:root {

    --ff-ana: 'Big Shoulders Display', sans-serif ;
    --ff-ikinci: 'Lexend Deca', sans-serif;

    --fw-400: 400;
    --fw-700: 700;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
  font-size: 15px;

  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/*  Genel alan Css   */

.main-container {
  background-color: hsl(0, 0%, 95%);

  
}

/*  Column style bölümü */
.column {

  display: grid;
  grid-template-rows: 1fr 1fr 2fr 1fr;
  grid-template-columns: repeat(1,1fr);
  

  font-family: var(--ff-ana);
  font-weight: 400;
  
  padding: 24px;
  padding-bottom: 4px;
  
  height: 340px;
  width: 230px;

  

  color: aliceblue;
}
h1 {

    font-size: 28px;
    font-family: 'Big Shoulders Display', sans-serif;;
    font-weight: 700;
    text-transform: uppercase;
}
p {

    color: hsla(0, 0%, 100%, 0.75);
    font-size: 13px;
    font-family: var(--ff-ikinci);
}

.first {
  background-color: hsl(31, 77%, 52%);
}
.second {
  background-color: hsl(184, 100%, 22%);
}
.third {
  background-color: hsl(179, 100%, 13%);
}
button {
    background-color: hsl(0, 0%, 95%);

    font-family: var(--ff-ikinci);
    border-radius: 15px;
    border: none;
    height: 34px;
    width: 120px;
    font-size: 11px;

    cursor: pointer;
  }
  

  .first__button {
    color: hsl(31, 77%, 52%);
  }
  .first__button:active {
    border: 1px solid hsl(0, 0%, 95%);
    background-color: hsl(31, 77%, 52%);
    color: hsl(0, 0%, 95%);
  }
  .second__button {
    color: hsl(184, 100%, 22%);
  }
  .second__button:active {
    border: 1px solid hsl(0, 0%, 95%);
    background-color: hsl(184, 100%, 22%);
    color: hsl(0, 0%, 95%);
  }
  .third__button {
    color: hsl(179, 100%, 13%);
  }
  .third__button:active{
    border: 1px solid hsl(0, 0%, 95%);
    background-color: hsl(179, 100%, 13%);
    color: hsl(0, 0%, 95%);
  }
  

@media (min-width: 200px) and (max-width: 600px) {
  .main-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    padding: 10px;

    height: auto;
    width: auto;

    justify-content: space-evenly;
    text-align: start;

    
  }
  .first {
    border-radius: 12px 12px 0 0;
  }
  .third {
    border-radius: 0 0 12px 12px;
  }
}

@media (min-width: 640px) and (max-width: 1240px)  {
    .main-container {
        display: flex;
        flex-direction: row;

        justify-content: center;
        align-items: center;

        height: 640px;
        width: 1240px;
    }
    .first {
        border-radius: 12px 0 0 12px;
      }
      .third {
        border-radius: 0 12px 12px 0;
      }
}

 @media (min-width: 1240px) and (max-width: 1440px) {
    .main-container {
        display: flex;
        flex-direction: row;

        justify-content: center;
        align-items: center;

        height: 640px;
        width: 1240px;
    }
    
 }